/*Resetar*/ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.cabecalho-post{
  min-height: 60px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #C4E7EB 10%, #739ACA 100%);
  align-items: center; 
  width: 100%; 
}

.titulo-post{
  font-size: 14px;
  color: #17191c;
  font-weight: bold;
  text-align: center;
  margin-left: 0.5rem;
}


.logo{
  display: flex;
  width: 130px;
  height: 60px;
  border-radius: 50%;
}

.div-btn{
  border-width: thin;
  background-color: #EEC556;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  width: 10%;
  border-radius: 32px;
  border-color: #c4d6eb !important;
  border: 2px solid;
  padding: 0.3rem 0.5rem; 
  min-width: max-content;
  gap: 1rem;
  font-size: 14px;
  
}

.div-btn:hover{
  /*background-color: #a7cfe6;*/
  cursor: pointer;
  transition: 0.3s;
  color: #000000 !important;
  font-family: 'open sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  
}

.container-search{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  width: 90%;
  padding: 0.3rem 0.5rem;    
  margin-top: 15px;
  margin-right: 2rem;
  gap: 1rem;
  font-size: 14px;
 
}

.btn-nova-post{
  font-family: 'Shantell Sans', cursive;
  font-size: 16px;
;
}
/*
.btn-pesquisar{
  border-width: thin;
  background-color: #EEC556;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
  width: 20% !important;
  border-radius: 32px;
  border-color: #c4d6eb !important;
  border: 2px solid;
  padding: 0.3rem 0.5rem; 
  gap: 5rem;
  font-size: 14px;
  
}*/

#btn-pesquisar {
  display: flex;
  align-items: center;
  margin-left: auto; /* Alinha o container à direita */
  position: relative;
  background:#8fbaec;
  border: 2px solid #c4d6eb !important;
  border-radius: 16px;
  cursor: pointer;
  max-width: 200px; /* Ajuste conforme necessário */
}

#txtBusca {
  border: none;
  background: transparent;
  padding: 8px;
  outline: none;
  color: #333;
  flex-grow: 1;
}

#btn-pesquisar .material-symbols-outlined {
  position: absolute;
  right: 8px;
  color: #686868;
}

#btn-pesquisar:hover {
  background: #787777;
  border-radius: 20px;
}

#txtBusca::placeholder {
  color: #686868;
}

.container-postagem{
  display: flex;
  flex-direction: column;
  background-color: #739ACA;
  width: 80%;
  padding: 4rem;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  gap: 20px;
  max-width: 80%;
 
}

#linha-tabela{
  height: 50px;
  background-color: white;
  border-radius: 32px;
 
}

.td {
  border: 1px solid black;
  border-radius: 10px;
  
}

.icones-acoes{
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.icones{
  background-color: white; 
  border-radius: 40%; 
  border: 2px solid #49b410; 
  cursor: pointer; 
  display: flex; 
  padding: 2px 5px; 
}

.container-paginacao{
 display: flex;
 justify-content: center;
 gap: 20px;
}

.seta{
  color: #F0A503;
}

.btn-paginacao{
  border-radius: 40%;
  padding: 2px 7px;
  border: none;
  
}

.btn-paginacao:hover{
  background-color: #F0A503
}


@media (max-width: 768px) {
  .cabecalho-post{
    flex-direction: column;
    align-items: center;
  }
  .container-search{
    max-width: 100%;
    transform: translate(0%, 0);
    margin-right: 0;
    
  }
  .div-btn{
    max-width: 100%;
    margin-top: 10px;
    justify-content: center;
  }
}