/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
#modal-add-post{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.body{
    display:flex;

}

.titulo-nova-postagem{
    width: 100%;
    height: 50px;
    font-size: 8px;
    color: #131212;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: 'shantel', sans-serif;
    flex-direction: row;
    align-items: center;    
    border-radius: 10px 10px 0 0px ;  
    background: linear-gradient(to right, #79EDFF, #739ACA); 
     
}

.h1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
}*/
body{
    padding: 0;
    margin: 0;
}

.full_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;

    border: 1px ;
    border-radius: 24px;
    overflow: hidden;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
}
.top_tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right,rgba(121, 237, 255, 1),rgba(115, 154, 202, 1));
    
}
.post_action{
    width: 100%;
    height: 1000px;
    background-color: rgba(241, 241, 241, 1);;
   
    
}
.top_text{
    font-family: "Shantell Sans", cursive;
    font-size: 1.5rem;
}
.image_input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 130px;
    border: 1px;
    border-radius: 24px;
    background-color: rgba(238, 194, 74, 0.2);
    margin: auto;
    margin-top: 40px;
    gap: 40px;
}
.post_tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 70px;
    border: 1px;
    border-radius: 24px;
    background-color: rgba(238, 194, 74, 0.2);
    margin: auto;
    margin-top: 40px;
    
}

.post_text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 75%;
    height: 200px;
    border: 1px;
    border-radius: 24px;
    background-color: rgba(238, 194, 74, 0.2);
    margin: auto;
    margin-top: 40px;
    resize: none;
    
    
    
}
#text_inside{
    margin-left: 30px;
    font-family: "Shantell Sans", cursive;
    color: rgba(79, 134, 202, 1);
}
.post_text::placeholder{
    
    font-family: "Shantell Sans", cursive;
    color: rgba(79, 134, 202, 1);
    font-size: 20px;
    
}
.action_button{
    width: 500px;
    height: 55px;
    margin-top: 10px;
    border: 1px;
    border-radius: 32px;
    background-color: rgba(240, 208, 3, 1);
}
.button_box{
    width: 550px;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
}
.button_input{
    font-family: "Shantell Sans", cursive;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
#text_tittle{
    text-align: start;
    margin: 0px;
    font-family: "Shantell Sans", cursive;
    color: rgba(79, 134, 202, 1);
    font-size: 20px;
    

}
#image_text{
    text-align: start;
    margin: 0px;
    font-family: "Shantell Sans", cursive;
    color: rgba(79, 134, 202, 1);
    font-size: 18px;
    

}
.autor_name{
    font-family: "Shantell Sans", cursive;
    margin-left: 30px;
}
.autor_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 450px;
}

@media (min-width: 768px) {
    .full_container {
        width: 50%;
    }
    
    .autor_details {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .image_input {
        flex-direction: row;
    }
}

}

/*

@media (max-width: 768px) {
    .full_container{
        width: 90%;
        height: 90%;
    }
    .image_input{
        width: 90%;
    }
    .post_tittle{
        width: 90%;
    }
    .post_text{
        width: 90%;
    }
    .action_button{
        width: 90%;
    }
    .button_box{
        width: 90%;
    }
}


/*
.modal-add-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    

   
    background: linear-gradient(to right,rgba(121, 237, 255, 1),rgba(115, 154, 202, 1));
    
}

.nome_data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.buttons_postagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    gap: 30px;
}

.btn_cancelar{
    background-color: #F0D003;
    padding: 0.8rem;
    border-radius: 32px;
    border: none;
}

.btn_publicar{
    background-color: #F0D003;
    padding: 0.8rem;
    border-radius: 32px;
    border: none;
}


.input_titulo{
    width: 100%;
    height: 40px;
    padding: 0.3rem;
    border-radius: 8px;
    border: none;
    background-color: #FFF2CD;
    font-size: 12px;
    font-weight: 600;
    color: #131212;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    text-align:center;
    font-family: 'shantel', sans-serif;
}


.input_text_area{
    width: 100%;
    height: 100px;
    padding: 1rem;
    border: solid 1px #9AB4DE ;
    background-color: #FFF2CD;
    font-size: 16px;
    font-weight: 600;
    color: #131212;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    font-family: 'shantel', sans-serif;
}

.container_modal_inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #f1f1f1;
}

.image_input{
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: none;
    background-color: #FFF2CD;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    text-align: center;
   
}