:root{
    --gradient: linear-gradient(
        45deg, rgba(113, 152, 201, 1), rgba(196, 231, 235, 1)
    );
}

body {
    font: 500 1.6rem Inter;
}

#box-pesquisa .recent-posts .post a{
    font: 500 1.6rem Shantell Sans;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#title-text {
    box-sizing: border-box;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    width: 15rem;
    font-size: 12px;
}

#title-text h1{
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 4px solid red;
    border-image: var(--gradient) 1;
}

#cards-container{
    /* border: 2px solid red;  */
    margin-left: 2rem;
    width: 13rem;
    padding-bottom: 20px;
}

#cards-container .cards{
    position: relative;
    /* border: 1px solid green;  */
    width: 205px;
    height: 240px;
    overflow: hidden;
    border-radius: 9%;
    margin-bottom: 20px;
    background: linear-gradient(rgba(0,0,0,1), rbga(0,0,0,0));
}


.parte-baixo {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    margin-right: 20px;
    left: 20px;
    z-index: 2;
    align-items: flex-end;
  }

#cards-container .cards .parte-baixo figcaption {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    width: 60%;
    color: white;
}

#cards-container .cards .parte-baixo button{
    width: 30px;
    height: 30px;
    background: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
}

#cards-container .cards .parte-baixo button img{
    width: 12px;
    justify-content: center;
}

.data-card {
    position: absolute;
    top: 10px;
    left: 19px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
  }
  

#cards-container .cards .card-image{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cards::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 1;
}

#app {
    display: flex;
}

#box-pesquisa{
    border: 1px solid red;
    margin-left: 1rem;
    padding-top: 10px;
    width: 13rem;
}

#box-pesquisa h3{
    font-size: 18px;
    font-weight: 600;
}