/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#modal-add-post{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-nova-postagem{
    width: 100%;
    height: 100px;
    font-size: 8px;
    color: #131212;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: 'shantel', sans-serif;
    flex-direction: row;
    align-items: center;    
    border-radius: 24px 24px 0 0;
    background: linear-gradient(to right, #79EDFF, #739ACA); 
    border-radius: 16 0 0 0;   
}

.h1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
}

.container_modal_inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 24px 24px;
}

.buttons_postagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    gap: 30px;
   
}

.btn_cancelar{
    background-color: #F0D003;
    padding: 0.8rem;
    border-radius: 32px;
    border: none;
}

.btn_publicar{
    background-color: #F0D003;
    padding: 0.8rem;
    border-radius: 32px;
    border: none;
}


.input_titulo{
    width: 100%;
    height: 40px;
    padding: 0.3rem;
    border-radius: 8px;
    border: none;
    background-color: #FFF2CD;
    font-size: 12px;
    font-weight: 600;
    color: #131212;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    text-align:center;
    font-family: 'shantel', sans-serif;
}


.input_text_area{
    width: 100%;
    height: 100px;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #FFF2CD;
    font-size: 16px;
    font-weight: 600;
    color: #131212;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    font-family: 'shantel', sans-serif;
}

.container_modal_inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #f1f1f1;
    

    
}


.image_input{
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: none;
    background-color: #FFF2CD;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    text-align: center;
   
}