:root{
    --gradient: linear-gradient(
        45deg, rgba(113, 152, 201, 1), rgba(196, 231, 235, 1)
    );
}

body {
    font: 500 1.6rem Inter;
}

#box-pesquisa .recent-posts .post a{
    font: 500 1.6rem Shantell Sans;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#title-text {
    box-sizing: border-box;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    width: 15rem;
    font-size: 12px;
}

#title-text h1{
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 4px solid red;
    border-image: var(--gradient) 1;
}

#cards-container{
    border: 2px solid red;
    margin-left: 2rem;
    width: 13rem;
}

#cards-container .cards{
    
}

#app {
    display: flex;
}
