

/*Parte da navbar*/

* { /* Reset de estilos para todos os elementos */
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
    list-style: none;
    text-decoration: none;
}

.diariodebordo-header{
    min-height: 90px;
    display: flex;
    /*padding: 10px;*/
    /*position: fixed; mantem fixo mesmo depois da rolagem*/
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.3rem;
    background: linear-gradient(to right, #C4E7EB 10%, #739ACA 100%);
    align-items: center; 
    width: 100%;
    padding-right: 30px; 
}

.logo-navbar{
    padding-left: 30px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 15%;
}

.botoes-navbar{
    border-width: thin;
    background-color: #EEC556;
    display: flex;
    text-decoration: none !important;
    border-radius: 32px;
    border: none;
    bottom: 8px;
    padding: 0.5rem 0.7rem; 
    white-space: nowrap;
    min-width: max-content;
}


.div-botoes{    /*coloquei div como container dos 3 botoes*/
    
    /*background-color: transparent;*/
    display: flex;
    /*flex-direction: row;*/
   /* justify-content: space-between;*/
    align-items: center;
    gap: 1rem;
    
}

.botoes-navbar-a{
    text-decoration: none !important;
    color: #000000 !important;
    font-family: 'open sans', sans-serif;
    font-size: 15px;
    font-weight: regular; 
}

.botoes-navbar-a:hover{
    color: #000000 !important;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
}


@media (max-width: 470px){
    .logo-navbar{
        width: 37px;
        height: 37px;
    }

    .div-botoes{
        gap: 10px;
    }

    .botoes-navbar-a{
        font-size: 13px;
    }

    .botoes-navbar-a:hover{
        font-size: 15px;
    }

    .diariodebordo-header{
        padding-right: 20px;
    }
}

@media (max-width: 380px){
    .logo-navbar{
        width: 37px;
        height: 37px;
    }

    .div-botoes{
        gap: 5px;
    }

    .botoes-navbar-a{
        font-size: 10px;
    }

    .botoes-navbar-a:hover{
        font-size: 11px;
    }

    .diariodebordo-header{
        padding-right: 10px;
    }
}