<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal de Deletar o Usuário</title>
    <link rel="stylesheet" href="/public/css/delete_user_styles.css">
</head>
<body>
    <div class="modal_delete_box">
        <div class="box_delete_titulo">
            <h1 class="delete_titulo">Você realmente quer excluir este usuário?</h1>
        </div>
        <div class="box_botoes">
            <div class="botoes_acoes">
                <button id="botaoCancelarDoDelete">CANCELAR</button>
                <button id="botaoExcluir">EXCLUIR</button>
            </div>
        </div>
    </div>
</body>
</html>