<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar post</title>
    <link rel="stylesheet" href="/public/css/delete_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="modal_completo">
        <div class="container">  
            <div class="top_tittle">
            <h1 class="msg_tittle">Você realmente quer excluir este post?</h1>
       </div>
       <div class="actions">
        <form class="button_box">
           
                <button class="action_button" >
                    <input type="button" class="input_button" value="CANCELAR" id="input_cancelar" >
                </button>
                <button class="action_button" >
                    <input type="button" class="input_button" value="EXCLUIR" id="input_excluir" >
                </button>
           
        
        </form>
    
    </div>
     </div> 
       
    
    </div>
    
    
</body>
</html>