<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/public/css/create_post_styles.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Nova Postagem</title>
</head>
<body>
    <form class="full_container">
        
        <div class="top_tittle">
            <h1 class="top_text">NOVA PUBLICAÇÃO</h1>
        </div>
       
          
        <div class="post_action">
            <div class="autor_name">
                <div class="autor_details">
                <p>Por: Ana Freitas</p>
                <p>23/04/2025</p>
            </div>
            <input type="file" class="image_input">
            <input type="text" class="post_tittle" placeholder="Digite o título que deseja publicar">
            <textarea   class="post_text" placeholder="Digite a sua postagem"></textarea>
            
            <div class="button_box">

            <button class="action_button" id="post_button">
                    <input type="button" value="POSTAR" class="button_input">
                </button>
                <button class="action_button" id="cancel_button" >
                    <input type="submit" value="CANCELAR"  class="button_input">
                </button> 
            </div>
                
              
        </div>
        

    </form>
    
    
</body>
</html>