<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titulo-nova-postagem</title>

    <link rel="stylesheet" href="/public/css/styles_modal_add_post.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
</head>
<body> 

    <div id="modal-add-post">
            <div class="titulo-nova-postagem">
                <h1>NOVA POSTAGEM</h1>
            </div>
        <div class="container_modal_inputs">
            <form action="">
                <div class="input_infos">
                 <input type="file" src="img_submit.gif" alt="Submit" width="48" height="48"></div>
                 <input type="text" name="Titulo" class="input_titulo" placeholder="Digite o título que deseja publicar">
                 <textarea name="Texto" class="input_text_area" placeholder="Digite a sua postagem textArea"></textarea>
                </div>

            </form>

            <div class="buttons_postagem">  
                <input type="button" class="btn_cancelar" value="CANCELAR">
                <input type="button" class="btn_publicar" value="PUBLICAR">
                
            </div>
        </div>
    </div>
</body>
<script src="/public/js/index.js"></script>
</html>