<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Usuário</title>
    <link rel="stylesheet" href="/public/css/modal_user_view_styles.css">
</head>
<body>
    <div class="modal_view_user">

        <div class="box_titulo_modal_view_user">
            <h1>VISUALIZAR USUÁRIO</h1>
        </div>

        <div class="top_modal_view_user">
            <img src="/public/assets/modal_user_view/usuarioIcon.png" alt="icone de usuario" class="usuario_icon">
            <h2>ID</h2>
        </div>
 
        <div class="box_informacoes_usuario">
            <form action="">
                <div class="inputs_view">
                    <h3>Nome:</h3>
                    <div class="caixa_texto">
                        <input type="text" placeholder="Nome" class="edit_user" readonly>
                    </div>

                    <h3>Email:</h3>
                    <div class="caixa_texto">
                        <input type="text" placeholder="Email" class="edit_user" readonly>
                    </div>

                    <h3>Senha:</h3>
                    <div class="caixa_texto">
                        <input type="text" placeholder="Senha" class="edit_user" readonly>
                    </div>
                </div>
            </form>

            <div class="botoes_acoes_user_view">
                <button id="botaoFechar">FECHAR</button>
            </div>
        </div>

    </div>
</body>
</html>
