<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal adicionar usuário</title>

    <link rel="stylesheet" href="/public/css/modal_add_user.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
<!-- Modal -->
    <div id="modal_new_user">
            <div class="top_new_user">
                <h1>NOVO USUÁRIO</h1>
            </div>
        <div class="container_inputs">
            <form action="">
                <div class="input_infos">
                <input type="text" name="Nome" class="input_user">
                <input type="text" name="Email" class="input_user">
                <input type="text" name="Senha" class="input_user">
                </div>
            </form>
            <div class="buttons_modal_user">
                <a class="button" href="linkpost1">Cancelar</a>
                <a class="button" href="linkpost1">Criar</a>
            </div>
        </div>
    </div>
</body>
<script src="/public/js/index.js"></script>
</html>