
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Postagens</title>
    <link rel="stylesheet" href="../../public/css/style_post_list_admin.css">
    <script src="../../../public/js/post_list_admin.js"></script>

        <!-- Link para as fontes do Google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>



<body>
   <header>
    <a>TESTE</a>
      <div class = "tabeladepostagem-header">
        <div class="header-logo">
            <img src="../../../public/assets/logo_navbar.png" alt="Logo Diario de Bordo" class="header-logo">
         <h1>Tabela de Postagens</h1>
        
         <div class="botoes-nova-publicacao">
            <a href="URL" class="botoes-navbar-a"><div>Nova Publicação</div></a>
        </div>

   </header>

</body>

</html>