<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela de Postagens</title>
  <link rel="stylesheet" href="/public/css/view_post_styles.css">
  <link rel="stylesheet" href="../../../public/css/styles_post_list_admin.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Link para os ícones (Google Fonts) foi necessário somente esse link. Para adcionar outros icones, basta colocar o span referente dele -->

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
  <!-- Link para as fontes do Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
 

</head>

<body>

  <header class="cabecalho-post">
    <div class="logo">
      <img src="../../../public/assets/logo_navbar.png" alt="Logo do Diario de Bordo" class="logo">
    </div>

    <div class="titulo-post">
      <h1>Tabela de Postagens</h1>
    </div>

    <button class="div-btn">      
       <p>NOVO</p>
      
      <span class="material-symbols-outlined">add_circle</span>

    </button>
  </header>

  <div class="container-search" >

    <!-- <input type="text" id="search" placeholder="Pesquisar" icon="search" class="search-input">
      <span class="material-symbols-outlined">search</span>
    </div>-->

    <div id="btn-pesquisar" >
      <input type="text" id="txtBusca" placeholder="Pesquisar" />
      <span class="material-symbols-outlined">search</span>
      <!--<p>Pesquisar <span class="material-symbols-outlined">search</span></p>=--->
    </div>
  </div>

  <div class="container-principal" >
    <div class="container-postagem" >
      <table style="border-collapse: separate; gap:0px; border-spacing: 0 30px; align-items: center; justify-content: center;"  class="table_total">

        <thead style="border: 2px solid F0C85A; ">
 
          <tr style="width: 100%; height: 50px; 
            background-color: rgba(240, 200, 90, 1);  align-items: center; font-family: 'Shantell Sans', cursive; 
            border-radius: 20px; border: 2px solid green;">

            <th class="id"
              style="font-weight:normal; border-radius:20px 0 0 20px; border-top:2px solid #F0C85A; border-bottom: 2px solid #F0C85A ; border-left: 2px solid #F0C85A; padding: 10px; ">
              ID </th>
            <th class="titulo-postagem" style="font-weight:normal; border-top:2px solid #F0C85A; border-bottom:2px solid #F0C85A;">Título da
              Postagem</th>
            <th class="data-post" style="font-weight:normal; border-top:2px solid #F0C85A; border-bottom:2px solid #F0C85A;">Autor da
              Postagem</th>
            <th class="data-post" style="font-weight:normal; border-top:2px solid #F0C85A; border-bottom:2px solid #F0C85A;">Data da Criação
            </th>
            <th class="acoes-post"
              style="font-weight:normal; border-radius:0 20px 20px 0; border-top:2px solid #F0C85A; border-bottom:2px solid #F0C85A; border-right:2px solid #F0C85A;">
              Ações</th>
          </tr>
          </tr>

        </thead>
        <tbody>  
          <tr id="linha-tabela">
            <td style="padding: 16px 12px; border-radius: 16px 0px  0px  16px; ">1</td>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Data</td>
            <td style=" border-radius: 0px 16px  16px  0px;">
              <div class="icones-acoes"
                style="display: flex; justify-content: center; align-items: center; gap: 10px; flex-direction: row; ">
                <div class="icones">
                  <span class="material-symbols-outlined" onclick="abrirModalViewPost('view_post')">visibility</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined" onclick="abrirModalEditPost('edit_post')">edit</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined">delete</span>
                </div>
              </div>
            </td>
          </tr>

          <tr id="linha-tabela">
            <td style="padding: 16px 12px; border-radius: 16px 0px  0px  16px;">2</td>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Data</td>
            <td style="border-radius: 0px 16px  16px  0px;">
              <div class="icones-acoes"
                style="display: flex; justify-content: center; align-items: center; gap: 10px; flex-direction: row; ">
                <div class="icones">
                  <span class="material-symbols-outlined">visibility</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined">edit</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined">delete</span>
                </div>
              </div>
            </td>
          </tr>
          <tr id="linha-tabela">
            <td style="padding: 16px 12px; border-radius: 16px 0px  0px  16px;">3</td>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Data</td>
            <td style="border-radius: 0px 16px  16px  0px;" >
              <div class="icones-acoes"
                style="display: flex; justify-content: center; align-items: center; gap: 10px; flex-direction: row;">
                <div class="icones">
                  <span class="material-symbols-outlined">visibility</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined">edit</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined">delete</span>
                </div>
              </div>
            </td>
          </tr>
          <tr id="linha-tabela">
            <td style="padding: 16px 12px; border-radius: 16px 0px  0px  16px;">4</td>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Data</td>
            <td style="border-radius: 0px 16px  16px  0px;">
              <div class="icones-acoes"
                style="display: flex; justify-content: center; align-items: center; gap: 10px; flex-direction: row;">
                <div class="icones">
                  <span class="material-symbols-outlined">visibility</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined">edit</span>
                </div>
                <div class="icones">
                  <span class="material-symbols-outlined">delete</span>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="page_indicator">
        <a href="" class="arrow"></a> 
        <a href="" class="page_icons" id="icon_1">1</a>
        <a href="" class="page_icons">2</a>
        <a href="" class="page_icons">3</a> 
        <a href="" class="arrow" id="arrow2"> </a>
    </div>


    </div>

  </div>

  <!-- Modal View Post -->

  <div class="full_container" id="view_post">

        <div class="top_tittle">
            <h1 class="top_text">ID</h1>
        </div>
        
        <div class="post_action">
            <div class="autor_name">
                <div class="autor_details">
                <p>Por: Ana Freitas</p>
                <p>23/04/2025</p>
            </div>
                
            </div>
            <div class="image_input">
                
            </div>
            <div class="post_tittle" ><p id="text_tittle">Digite o título que deseja publicar</p> </div>
            <div class="post_text"><p  id="text_inside">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p> </div>
            <div class="button_box">
                <button class="action_button" onclick="fecharModalViewPost('view_post')">
                    <input type="button" value="FECHAR" class="button_input">
                </button>
               
            </div>
            
        </div>
    </div>

  <script src="/public/js/post_list_admin.js"></script>
  
</body>

</html>