<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles_sidebar.css">
    <title>Sidebar</title>
</head>
<body>

    <aside class="sidebar">
        <div class="conteudo">
            <button id="menu">
                <img src="/public/assets/sidebar/MenuIcon.png" alt="Uma imagem de quatro linhas horizontais" class="icone">
            </button>
        
                <ul class="itens">
                    <li class="item active">
                        <a href="">
                            <img src="/public/assets/sidebar/CasaIcon.png" alt="Icone de uma casa" class="icone">
                            <span class="descricao">Home</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="">
                            <img src="/public/assets/sidebar/DashboardIcon.png" alt="" class="icone">
                            <span class="descricao">Dashboard</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="">
                            <img src="/public/assets/sidebar/PublicacoesIcon.png" alt="" class="icone">
                            <span class="descricao">Publicações</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="">
                            <img src="/public/assets/sidebar/UsuariosIcon.png" alt="" class="icone">
                            <span class="descricao">Usuários</span>
                        </a>
                    </li>
                </ul>

            <button id="logout">
                <img src="/public/assets/sidebar/LogoutIcon.png" alt="" class="icone">
                <span class="descricao">Logout</span>
            </button>
        </div>
    </aside>
</body>
</html> 
