<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_list</title>
    <link rel="stylesheet" href="/public/css/user_list_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="top_tittle">
        <img src="/public/assets/logo_diario_azul.png"  class="logo"  alt="logo">
        <h1 class="top_text">Tabela de Usuários</h1>
        <div class="new_box"> 
            <button class="button_new">
                <p>NOVO</p> 
                <img src="/public/assets/plus_icon.png" class="plus_icon" alt=""> </button>
        </div>
    </div>
    <div class="search_button_container">
         <div class="search_button">
            
            <input type="text" placeholder="PESQUISAR" class="input_search">
            <img src="/public/assets/lupa.png" class="lupa_icon" alt="lupa"> 
        </div>
</div>

    <div class="list_container">
        <table class="user_obj_tittle">
            <tr class="coluna">
                <td><p class="text">Id</p></td>
                <td><p class="text">Nome</p></td>
                <td><p class="text">Tipo</p></td>
                <td><p class="text">Data de Criação</p></td>
                <td><div class="fix2"></div></td>
                <td><p class="text2">Ações</p></td>
                <td><div class="fix"></div></td>
                
            </tr>
            <table class="user_obj">
                <tr class="coluna">
                    <td><p class="text">Id</p></td>
                    <td><p class="text">Nome</p></td>
                    <td ><p class="text">Tipo</p></td>
                    <td><p class="text">Data de Criação</p></td>
                    <td><div class="manage_buttons">
                        <div class="icon">
                            <img src="/public/assets/edit_icon.png" class="manage_icon_edit" alt="pencil">
                        </div>
                        <div class="icon">
                            <img src="/public/assets/view_icon.png" class="manage_icon" alt="eye">
                        </div>
                        <div class="icon">
                            <img src="/public/assets/delete_icon.png" class="manage_icon" alt="trash">
                        </div>
                    </div>
                </td>
                </tr>
                <table class="user_obj">
                    <tr class="coluna">
                        <td><p class="text">Id</p></td>
                        <td><p class="text">Nome</p></td>
                        <td ><p class="text">Tipo</p></td>
                        <td><p class="text">Data de Criação</p></td>
                        <td><div class="manage_buttons">
                            <div class="icon">
                                <img src="/public/assets/edit_icon.png" class="manage_icon_edit" alt="pencil">
                            </div>
                            <div class="icon">
                                <img src="/public/assets/view_icon.png" class="manage_icon" alt="eye">
                            </div>
                            <div class="icon">
                                <img src="/public/assets/delete_icon.png" class="manage_icon" alt="trash">
                            </div>
                        </div>
                    </td>
                    </tr>
                    <table class="user_obj">
                        <tr class="coluna">
                            <td><p class="text">Id</p></td>
                            <td><p class="text">Nome</p></td>
                            <td ><p class="text">Tipo</p></td>
                            <td><p class="text">Data de Criação</p></td>
                            <td><div class="manage_buttons">
                                <div class="icon">
                                    <img src="/public/assets/edit_icon.png" class="manage_icon_edit" alt="pencil">
                                </div>
                                <div class="icon">
                                    <img src="/public/assets/view_icon.png" class="manage_icon" alt="eye">
                                </div>
                                <div class="icon">
                                    <img src="/public/assets/delete_icon.png" class="manage_icon" alt="trash">
                                </div>
                            </div>
                        </td>
                        </tr>
                        <table class="user_obj">
                            <tr class="coluna">
                                <td><p class="text">Id</p></td>
                                <td><p class="text">Nome</p></td>
                                <td ><p class="text">Tipo</p></td>
                                <td><p class="text">Data de Criação</p></td>
                                <td><div class="manage_buttons">
                                    <div class="icon">
                                        <img src="/public/assets/edit_icon.png" class="manage_icon_edit" alt="pencil">
                                    </div>
                                    <div class="icon">
                                        <img src="/public/assets/view_icon.png" class="manage_icon" alt="eye">
                                    </div>
                                    <div class="icon">
                                        <img src="/public/assets/delete_icon.png" class="manage_icon" alt="trash">
                                    </div>
                                </div>
                            </td>
                            </tr>
                            <table class="user_obj">
                                <tr class="coluna">
                                    <td><p class="text">Id</p></td>
                                    <td><p class="text">Nome</p></td>
                                    <td ><p class="text">Tipo</p></td>
                                    <td><p class="text">Data de Criação</p></td>
                                    <td><div class="manage_buttons">
                                        <div class="icon">
                                            <img src="/public/assets/edit_icon.png" class="manage_icon_edit" alt="pencil">
                                        </div>
                                        <div class="icon">
                                            <img src="/public/assets/view_icon.png" class="manage_icon" alt="eye">
                                        </div>
                                        <div class="icon">
                                            <img src="/public/assets/delete_icon.png" class="manage_icon" alt="trash">
                                        </div>
                                    </div>
                                </td>
                                </tr>
                                <table class="user_obj">
                                    <tr class="coluna">
                                        <td><p class="text">Id</p></td>
                                        <td><p class="text">Nome</p></td>
                                        <td ><p class="text">Tipo</p></td>
                                        <td><p class="text">Data de Criação</p></td>
                                        <td><div class="manage_buttons">
                                            <div class="icon">
                                                <img src="/public/assets/edit_icon.png" class="manage_icon_edit" alt="pencil">
                                            </div>
                                            <div class="icon">
                                                <img src="/public/assets/view_icon.png" class="manage_icon" alt="eye">
                                            </div>
                                            <div class="icon">
                                                <img src="/public/assets/delete_icon.png" class="manage_icon" alt="trash">
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                    </table>
                                   
       
    
                                    <div page_number>
                                        <div class="paginacao">
                                            <div class="page_icon"></div>
                                            <div class="page_icon"></div>
                                            <div class="page_icon"></div>
                                        </div>
                                    </div>
                                </div>
        
</body>


</html>