<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard admin</title>

    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div id="box-background">
        <div class="real-box">
            <div id="exit">
                <img src="/public/assets/exit.png" alt="exit">
            </div>
            <div id="app-dashboard">
                <div class="dashboard">
                        <div class="logo">
                            <img src="/public/assets/LogoGlobo.png" alt="Logo Diario de bordo">
                        </div>
                    <h1>DASHBOARD</h1>
                </div>
                <div id="button-container">
                        <a class="button" href="tabelaposts">
                            Tabela de posts
                            <img src="/public/assets/posts.png" alt="post">
                        </a>

                        <a class="button" href="tabelaposts">
                            Tabela de usuários
                            <img src="/public/assets/user.png" alt="post">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>