<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard admin</title>

    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="exit">
        <img src="exit" alt="exit">
    </div>
    <div id="app-dashboard">
        <div class="dashboard">
                <div class="logo">
                    <img src="logo" alt="Logo Diario de bordo">
                </div>
            <h1>Dashboard</h1>
        </div>
        <div id="button-container">
            <div class="button">
                <button>Tabela de posts</button>
            </div>
            <div class="button">
                <button>Tabela de usuários</button>
            </div>
        </div>
    </div>
</body>
</html>