<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Diário de Bordo - Landing Page</title>
</head>
<body>
    <header>
        <!-- Navbar-->
    </header>

    <main>
        <section class="boxIntroducao">

            <h1>COMPARTILHE SUAS EXPERIÊNCIAS PELO MUNDO</h1>
            <div class="textoIntroducao">
                <P>No Diário de Bordo, você pode compartilhar suas experiências e contribuir com toda nossa comunidade. Divida suas melhores dicas de lugares que você passou. </P>
                <img src="/public/assets/landing-page/aviao_voando.gif" alt="Gif de um avião voando"/>
            </div>

        </section>

        <section class="boxPosts">

            <h2>Postagens</h2>

            <div class="post_grid">

                <div class="card">
                    <img src="/public/assets/landing-page/Ibitipoca.png" alt="Foto de Ibitipoca"/>
                    <h3>IBITIPOCA</h3>
                    <p class="descricao">Lugar de paz e conexão com a natureza. Seja em casal ou em família, você vai gostar muito. O restaurante Quitutes da Beth também é muito bom.</p>
                    <p class="autor">Postado por: <span class="nome">Maria</span></p>
                </div>

                <div class="card">
                    <img src="/public/assets/landing-page/salvador.png" alt="Foto de Salvador">
                    <h3>SALVADOR</h3>
                    <P class="descricao">Em Salvador, tem muitos passeios legais. Um deles é o elevador Lacerda. Ele é uma forma de deslocamento entre a cidade Alta e a Baixa. A vista é linda.</P>
                    <p class="autor">Postado por:  <span class="nome">José</span></p>
                </div>

                <div class="card">
                    <img src="/public/assets/landing-page/tiradentes.png" alt="Foto de Tiradentes(cidade)">
                    <h3>TIRADENTES</h3>
                    <P class="descricao">Valeu o passeio. Levei toda a familia e todos gostaram muito. As igrejas são lindas, mas vá de tênis pq as ruas são de pedras em desnível</P>
                    <p class="autor">Postado por:  <span class="nome">Ana Paula</span></p>
                </div>

                <div class="card">
                    <img src="/public/assets/landing-page/rio_de_janeiro.png" alt="Foto do Rio de Janeiro">
                    <h3>RIO DE JANEIRO</h3>
                    <P class="descricao">Praias lindas, muito calor e cervejinha gelada. Sempre bom voltar. Restaurante Talho Capixaba é muito gostoso. Passei 1 semana de férias no Hotel Ibis. Caipirinha é uma ótima escolha</P>
                    <p class="autor">Postado por:  <span class="nome">Jorge</span></p>
                </div>

                <div class="card">
                    <img src="/public/assets/landing-page/new_york.png" alt="Foto de New York">
                    <h3>NEW YORK</h3>
                    <P class="descricao">Uma cidade que sempre tem novidades. Vale a pena sempre ir a um musical, museu e um bom hamburguer no Shake Shack ou um chocolate quente no Max Brenner</P>
                    <p class="autor">Postado por:  <span class="nome">Ana Paula</span></p>
                </div>

                <div class="card">
                    <img src="/public/assets/landing-page/fortaleza.png" alt="Foto de Fortaleza">
                    <h3>FORTALEZA</h3>
                    <P class="descricao">Uma das praias mais lindas que já fui. Lugar de tranquilidade e ótimo para viajar com a família. Restaurantes muito bons também.</P>
                    <p class="autor">Postado por:  <span class="nome">Ana Paula</span></p>
                </div>
            </div>
            
            <div class="posts_grid_escondido">
                <div class="card">
                    <img src="/public/assets/landing-page/Ibitipoca.png" alt="Foto de Ibitipoca"/>
                    <h3>IBITIPOCA</h3>
                    <p class="descricao">Lugar de paz e conexão com a natureza. Seja em casal ou em família, você vai gostar muito. O restaurante Quitutes da Beth também é muito bom.</p>
                    <p class="autor">Postado por: <span class="nome">Maria</span></p>
                </div>
    
                <div class="card">
                    <img src="/public/assets/landing-page/salvador.png" alt="Foto de Salvador">
                    <h3>SALVADOR</h3>
                    <P class="descricao">Em Salvador, tem muitos passeios legais. Um deles é o elevador Lacerda. Ele é uma forma de deslocamento entre a cidade Alta e a Baixa. A vista é linda.</P>
                    <p class="autor">Postado por:  <span class="nome">José</span></p>
                 </div>
    
                <div class="card">
                    <img src="/public/assets/landing-page/tiradentes.png" alt="Foto de Tiradentes(cidade)">
                    <h3>TIRADENTES</h3>
                    <P class="descricao">Valeu o passeio. Levei toda a familia e todos gostaram muito. As igrejas são lindas, mas vá de tênis pq as ruas são de pedras em desnível</P>
                    <p class="autor">Postado por:  <span class="nome">Ana Paula</span></p>
                   </div>
    
                <div class="card">
                    <img src="/public/assets/landing-page/rio_de_janeiro.png" alt="Foto do Rio de Janeiro">
                    <h3>RIO DE JANEIRO</h3>
                    <P class="descricao">Praias lindas, muito calor e cervejinha gelada. Sempre bom voltar. Restaurante Talho Capixaba é muito gostoso. Passei 1 semana de férias no Hotel Ibis. Caipirinha é uma ótima escolha</P>
                    <p class="autor">Postado por:  <span class="nome">Jorge</span></p>
                </div>
    
                <div class="card">
                    <img src="/public/assets/landing-page/new_york.png" alt="Foto de New York">
                    <h3>NEW YORK</h3>
                    <P class="descricao">Uma cidade que sempre tem novidades. Vale a pena sempre ir a um musical, museu e um bom hamburguer no Shake Shack ou um chocolate quente no Max Brenner</P>
                    <p class="autor">Postado por:  <span class="nome">Ana Paula</span></p>
                </div>
    
                <div class="card">
                    <img src="/public/assets/landing-page/fortaleza.png" alt="Foto de Fortaleza">
                    <h3>FORTALEZA</h3>
                    <P class="descricao">Uma das praias mais lindas que já fui. Lugar de tranquilidade e ótimo para viajar com a família. Restaurantes muito bons também.</P>
                    <p class="autor">Postado por:  <span class="nome">Ana Paula</span></p>
                </div>
            
            </div>

            <button id="verMais">Ver mais</button>

        </section>
    </main>

    <footer>
        <!--Footer-->
    </footer>

    <script src="/public/js/index.js"></script>
</body>
</html>