<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu post</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>

<div class="view_post_container">
    <h1>Lorem ipsum</h1>
    <label for="date_label" class="date_label">dd/mm/yyyy</label>
    <hr class="top_line"></hr>
    <img src="/public/assets/image.png" alt="torre_eifel" class="main_image">
    <p class="p_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                      aliquip ex ea comodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                      officia deserunt mollit anim id est laborum.
                    </p>
   <p class="p_text2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam 
    rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arquiteto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
   </p>
   <hr class="line"></hr>
   <label for="tittle_user" class="tittle_user">Publicado por</label>
   <div class="user_info"><img src="/public/assets/icon_test.png" class="icon_user" alt="foto_user">
        <label for="user_name" class="label_1">Nome do autor</label>
</div>

    <div class="search_container">
        <div class="top_search">
            <label class="pesquisar">Pesquisar</label>
            <div class="search_box"> 
                <input type="text" placeholder="Pesquisar" class="text_input"> 
                <img src="/public/assets/search.png"  class="lupa_img"   alt="lupa"> 
            </div> 
        
                
        </div>
        <div class="post_down">
             <label for="tittle" class="down_tittle">Posts mais recentes</label>
             <div class="post_details">   
                <img src="/public/assets/mchina.png" class="img1" alt="muralha_china">
             <label for="text" class="post_tittle">03 ABR 2025</label>
             <p class="p2">Histórias fascinantes
                da Muralha da China.</p>
             </div>
                <img src="/public/assets/gcanyon.png" class="img2" alt="gcanyon">
             <label for="text" class="post_tittle2">03 ABR 2025</label>
             <p class="p3">Curiosidades incríveis sobre o Grand Canyon.</p>
             <p class="pular_linha"></p>
             <img src="/public/assets/mpicchu.png" class="img3" alt="mpicchu">
             <label for="text" class="post_tittle3">03 ABR 2025</label>
             <p class="p4">Fatos surpreendentes
                sobre Machu Picchu.</p>
             

            </div>
    </div>
                    

</div>

    
</body>
</html>