<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de posts</title>
</head>
<body>

    <div id="posts-text">
        <h1>
            Principais posts
        </h1>
    </div>

    <main>
        <div id="cards-container">
            <div class="cards">
                <span>
                    02 ABR 2025
                </span>
                <img src="lugar1" alt="lugar1">
                <figcaption>Lugares para visitar</figcaption>
                <button>Direcionador</button>
            </div>
            <div class="cards">
                <span>
                    02 ABR 2025
                </span>
                <img src="lugar2" alt="lugar2">
                <figcaption>Lugares para visitar</figcaption>
                <button>Direcionador</button>
            </div>
            <div class="cards">
                <span>
                    02 ABR 2025
                </span>
                <img src="lugar3" alt="lugar3">
                <figcaption>Lugares para visitar</figcaption>
                <button>Direcionador</button>
            </div>
            <div class="cards">
                <span>
                    02 ABR 2025
                </span>
                <img src="lugar4" alt="lugar4">
                <figcaption>Lugares para visitar</figcaption>
                <button>Direcionador</button>
            </div>
            <div class="cards">
                <span>
                    02 ABR 2025
                </span>
                <img src="lugar5" alt="lugar5">
                <figcaption>Lugares para visitar</figcaption>
                <button>Direcionador</button>
            </div>
            <div class="cards">
                <span>
                    02 ABR 2025
                </span>
                <img src="lugar6" alt="lugar6">
                <figcaption>Lugares para visitar</figcaption>
                <button>Direcionador</button>
            </div>
        </div>
    </main>

    <div id="box-pesquisa">
        <h3>Pesquisar</h3>

            <div class="search-box">
            <input type="text" class="search-text" placeholder="Pesquisar">
            <a href="#">
            <img src="/public/assets/lupa.png" alt="Lupa" height="25" width="25">
            </a>
        </div>

        <div class="recent-posts">
            Posts mais recentes
            <div class="post-1">
                <img src="lugar1" alt="lugar1">
                03 ABR 2025
                <a href="linkpost1">Histórias fascinantes da muralha da China.</a>
            </div>
            <div class="post-2">
                <img src="lugar2" alt="lugar2">
                03 ABR 2025
                <a href="linkpost2">Curiosidades incríveis sobre o Grand Canyon.</a>
            </div>
            <div class="post-3">
                <img src="lugar3" alt="lugar3">
                03 ABR 2025
                <a href="linkpost3">Fatos surpreendentes sobre Machu Picchu.</a>
            </div>
        </div>
    </div>
</body>
</html> 